.header{    
    margin-left: 9rem;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left .header-right{   
    display: flex;
    align-items: center;
}

a > span{       
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #FFFBF5;  
}

a > span:hover{ 
   color: #CD0404; 
}

.header_icon{   
    width: 80px;
    cursor: pointer;
}

.user_avatar{   
    font-size: 1.4rem;
    margin-right: 5rem;
}

.userimage {
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin-right: 6rem;
}